{% extends 'base.html' %}
{% block title %}Certifications{% endblock %}

{% block content %}
<section class="certifications-container">
  <h1>My Certifications</h1>
  <div class="cert-grid">
    <div class="cert-card">
      <h2>AWS Certified Developer -– Associate</h2>
      <p><strong>Active Date:</strong> March 26, 2025</p>
      <p><strong>Expiration Date:</strong> March 26, 2028</p>
      <p><strong>Validation Number:</strong> cae57c00a2824d30b95e6017624fda96</p>
      <a href="https://cp.certmetrics.com/amazon/en/public/verify/credential/cae57c00a2824d30b95e6017624fda96" target="_blank">
        🔗 View Credential
      </a>
      <br />
    </div>
    <div class="cert-card">
        <h2>HackerRank Software Engineer Intern Certification</h2>
        <p><strong>Active Date:</strong> April 9, 2025</p>
        <p><strong>Expiration Date:</strong> N/A</p>
        <a href="https://www.hackerrank.com/certificates/iframe/93c1953d036b" target="_blank">
          🔗 View Credential
        </a>
        <br />
      </div>
  </div>
</section>
{% endblock %}
