{% extends 'base.html' %}
{% block title %}Contact{% endblock %}

{% block content %}
<div class="about-me mt-5">
    <h1 class="text-center">Let's Connect</h1>
    
    <p class="text-center">If you'd like to get in touch, feel free to reach out via email or check out my links below!</p>

    <div class="d-flex justify-content-center mt-4">
        <a href="mailto:samuelj1316@gmail.com" class="btn btn-outline">📩 Send Me an Email</a>
    </div>

    <div class="mt-5 text-center">
        <p><strong>Personal Email:</strong> samuelj1316@gmail.com</p>
        <strong>School Email:</strong> stjense5@asu.edu</p>
        <strong>Phone:</strong> (605) 929-1796</p>
        <p><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/samueltjensen" target="_blank">Samuel T Jensen</a></p>
        <p><strong>GitHub Username:</strong> <a href="https://github.com/samj1098" target="_blank">SamJ1098</a></p>
    </div>
</div>
{% endblock %}
